body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: balck;
}

ul{
    list-style-type: none;
}
.information a{
    text-decoration: none;
    color: white;
}

.header{
    background-color:#094074;
    color: white;
    height: 13vh;
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 3rem;
}



.information ul{
    display: flex;
    gap: 1rem;
}



.hero-page{
    height: 40vh;
    width: auto;
    background-color: #5ADBFF;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-text{
    width: fit-content;
    margin-left:3rem;
    font-weight: 470;
    width: 50vw;
}
.hero-text .heading{
    font-size: 3rem ;
    margin-bottom: 0;
    margin-top:10px ;
    
}

#join{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    border-radius: 7%;
    text-align: center;
    height: 2rem;
    width: 5rem;
    background-color: #094074;
    font-size: bolder;
}

.wide-photo{
  
  
  
  height: 90%;
  width: auto;
  border-radius: 10%;
  
  margin-right:14vw ;
}



.main-heading{
    text-align: center;
    padding-top:1.5rem;
    font-weight: 600;
    font-size:2rem
}

.main-photos{
    display: flex;
    justify-content: center;
    gap:1.5rem;
    height: 40vh;
    width: 100%;
    margin-top: 3rem;
    
    
}

.main-photos img{
    height: 150px;
    width: 150px;
    flex: 0 1 auto;
    border-radius: 10%;
}

.main-text{
    text-align: center;
    font-size:0.9rem;
    font-weight: 600;
}


.quote{
    background-color: #e5f9e0;
    height: 30vh;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.author{
    font-style: normal;
    font-weight: 600;
    padding-left: 33%;
    font-size: large;
}

.contact{
    height: 27vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-info{
    display: flex;
    flex-shrink:1 ;
    border:2px solid black;
    padding:1.3rem;
    background-color:#2f9c95;
    gap:1rem;
    justify-content: space-between;
    
}

.contact p{
    font-size: 1.16rem;
    font-weight: 550;
}

.contact button{
    all: unset;
    cursor: pointer;
    border: 1px solid white;
    width: 3rem;
    text-align: center;
    height: 50;
    font-size:bold ;
}

.footer{
    text-align: center;
    background-color:#100007;
    color: white;
    height: 17vhh;
    padding: 20px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
}


 

